html, body {
    margin: 0;
    padding: 0;

    background-color: #222;
    color: #eee;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 99vh; /* 100% ablak magasság */
}

body {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box; /* Mindenbe számítsa bele a keretet */
}

header {
    background-image: url("https://picsum.photos/id/20/1920/256");

    height: 256px;
}

main {
    display: flex;
    flex: 1;
    padding: 20px; 
    text-align: justify;
}

footer {
    height: 48px;
    border-top: 1px solid #eee;
    text-align: center;
    padding-right: 20px;
}

.menu {
    margin-top: calc(256px - 48px);
    
    height: 48px;
    background-color: #222222bb;

    padding-left: 20px;
}

button {
    height: 100%;
    padding: 0 24px; /*Vízszintes belső margó*/
}

.page {
    flex: 1;
}

.page[visible="false"] {
    display: none;
}

img {
    width: 512px;
    height: auto;
}

.kep-keret {
    display: flex;
    gap: 24px;
}

.kep-jobbra {
    margin-left: auto;
}

.kep-kozepre {
    flex-direction: column;
    align-items: center;
}

h1 {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #eee;
    padding: 0.5rem;
}

label {
    display: inline-block;
    width: 72px;
}